{% extends "base.html" %}

{% block content %}
    <h3 class="text-1xl font-bold underline my-2">LISTA DE OPERADIORES DE LOGINCO</h3>
    <div class="grid grid-cols-subgrid gap-4 lg:grid-cols-4 lg:gap-8">
        {% for operador in operadores %}
            <div class="h-32 rounded-lg bg-gray-200">
                <h5>{{ operador.nombre }}</h5>
                <p>{{ operador.email }}</p>
                <p>{{ operador.movil }}</p>
            </div>
        {%endfor%}
    </div>
{% endblock content %}
