{% extends "base.html" %}

{% block content %}
    <div class="text-right">
        <a 
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
            href="{% url "add_team" %}"
        >
            Alta de Vehiculo
        </a>
    </div>
    <h3 class="text-1xl font-bold underline my-1.5">LISTA DE EQUIPOS DE LOGINCO</h3>
    <div class="container">
        <div class="grid grid-cols-subgrid gap-12 lg:grid-cols-3 lg:gap-8">
            {% for equipo in equipos %}
                <div class="h-32 rounded-lg bg-gray-200">
                    <a href="#" class="group relative block overflow-hidden">
{% comment %}                         <img
                        src="https://img.freepik.com/vector-premium/conjunto-tres-caricatura-vehiculos-motocicleta-vespa-coche_570230-33.jpg?w=340"
                        alt=""
                        class="h-8 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-8"
                        /> {% endcomment %}
                        <div class="relative border border-gray-100 bg-white p-6">
                        <h3 class="mt-1.5 text-lg font-medium text-gray-900">{{ equipo.placa }}</h3>
                        <span class="whiteespace-nowrap bg-yellow-400 px3 py-1.5 text-xs font-medium">Tanque: {{ equipo.capacidad_tanque }}</span>
                        <p class="mt-1.5 line-clamp-3 text-gray-700">
                            {{ equipo.modelo }} - {{ equipo.marca }} - {{ equipo.year }}
                        </p>
                        
                        <form class="mt-4 flex gap-4">
                            <button
                            class="block w-full rounded bg-gray-100 px-4 py-3 text-sm font-medium text-gray-900 transition hover:scale-105"
                            >
                            Eliminar
                            </button>
                    
                            <button
                            type="button"
                            class="block w-full rounded bg-gray-900 px-4 py-3 text-sm font-medium text-white transition hover:scale-105"
                            >
                            Editar
                            </button>
                        </form>
                        </div>
                    </a>
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock content %}