{% extends "base.html" %}

{% block content %}
<div class="text-right">
    <a 
        class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        href="{% url "add_register" %}"
    >
        Registrar un Carga de combustible
    </a>
</div>
<h3 class="text-1xl font-bold underline my-2">LISTA DE CARGA DE COBUSTIBLE</h3>
<div class="grid grid-cols-subgrid gap-4 lg:grid-cols-4 lg:gap-8">
    {% for registro in registros %}
        <div class="h-32 rounded-lg bg-gray-200">
            <h5>{{ registro.fecha_hora | date }}</h5>
            <p>{{ registro.idOperador.nombre }}</p>
            <p>{{ registro.idOperador.movil }}</p>
            <p>{{ registro.idEquipo.placa }}</p>
            <h5>{{ registro.Litros}} <small>Capacidad:{{ registro.idEquipo.capacidad_tanque }} K:{{ registro.kilometraje }}</small></h5>
        </div>
    {%endfor%}
</div>
{% endblock content %}